<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

    <h1>Welcome Home</h1>
     {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    
    <h2>Login</h2>
    <form action="/validate/" method="POST">
        {% csrf_token %}
        <label>E-mail</label>
        <input type="email" name="email" placeholder="Darthvader@IamYourFather.com">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>

    <h3><a href="/register">If You Don't have an account click here to register!</a></h3>
       
</body>
</html>